body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    line-height: 1.6;
    background: #f5f5f5; /* light grey/white */
    scroll-behavior: smooth;
}

header {
    background: #333; /* grey */
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    padding: 10px;
    background: white;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: purple;
}

nav a:hover {
    background: #ddd; /* white */
    color: #333; /* grey*/
    transition: 0.3s;
}

form input, form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

button {
    background: #333; /* grey */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section {
    padding: 40px 20px;
}

header, footer {
    background: lightgreen; /* black */
    color: #333; /* grey */
    text-align: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color: #333; /* grey*/
    transition: 0.3s;
}

section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

#about {
    padding: 10px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; 
}

.about-text {
    max-width: 700px;
}

.about-image img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}